body {
  background: #bbff00;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  color: rgb(228, 244, 4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: row;
  flex-direction: column-reverse;
}
article {
  align-self: center;
  padding-left: var(#00fff7);
  color: rgb(248, 5, 5);
}
hr{
  color: black;
  flex-shrink: unset;

}
audio{
  color: black;
  animation: forwards;
  background-blend-mode: multiply;
  background-position-x: flex;
}
